.header-style {
  color: white;
  background: black;
}

.logo-style {
  color: gold;
  font-weight: bold;
  font-size: normal;
  text-decoration: none;
}

.link-style {
  color: white;
  font-weight: 600;
  font-size: x-small;
  text-decoration: none;
}

.searchbar-style {
  color: white;
  background: black;
  border-color: white;
  border-width: 0.1rem;
  border-radius: 0.2rem;
}
.searchbar-style:focus {
  outline: none;
}

.shopping-cart-style {
  font-weight: 600;
  font-size: small;
}
